//
// Homepage styling
//
@keyframes send-it {
  0% {
    transform: translateX(-1000vh);
  }
  
  100% {
    transform: translateX(1000vh);
  }
}

.homepage {
  overflow: hidden;
  max-width: 100vw;
  max-height: 100vh;
  
  &:before{
    @include media_query($mobile-breakpoint) {
      content: none;
      animation: none;

    }
    position: absolute;
    width: 5000vw;
    height: 5000vh;
    content: '';
    background-color: $site-background-color;
    background-image: url('../assets/bright_squares.png');
    background-attachment: fixed;
    animation-name: send-it;
    animation-duration: 1700s;
    pointer-events: none;
  }
}

.front-page {
  @include media_query($mobile-breakpoint) {
    height: auto;
    margin-top: 60px;
    margin-bottom: 40px;
  }
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
  
  .card-wrap {
    @include media_query($mobile-breakpoint) {
      flex-wrap: wrap;
    }
    @extend %card;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    // Profile image diamond
    .image-wrap {
      @include media_query($mobile-breakpoint) {
        animation: none;
        left: 0;
        margin-right: 0;
        margin-bottom: 10px;
      }
      animation: portraitSlideLeft 0.8s 0.2s;
      animation-fill-mode: both;
      padding: 20px;
      margin-right: 40px;
      position: relative;
      left: 15px;

      .mask {
        @include media_query($mobile-breakpoint) {
          transform: scale(0.8) rotate(45deg);
        }
        transform: rotate(45deg);
        width: 150px;
        height: 150px;
        overflow: hidden;
      }

      .profile-image {
        transform: rotate(-45deg);
        @extend %bg-image;
        background-color: $primary-accent;
        background-image: url('../assets/me-actual.png');
        background-size: 78%;
        width: 290px;
        height: 260px;
        transform-origin: 46px 178px; // Better centering of profile image
      }
    }

    // Text
    .content {
      @include media_query($mobile-breakpoint) {
        animation: none;
      }
      animation: bioSlideRight 0.8s 0.2s;
      animation-fill-mode: both;
      max-width: 440px;
      position: relative;

      // David James
      h2 {
        @include media_query($mobile-breakpoint) {
          font-size: 2.2rem;
        }
        font-size: 2.5rem;
        margin-bottom: 10px;
      }

      // Software Developer
      h3 {
        color: $primary-accent;
      }

      p:last-of-type {
        margin-bottom: 0;
      }
    }

    .Socials {
      margin-top: 20px;

      .social-icons {
        @extend %social-icons;
      }
    }
  }
}
