// General Page layout
.page-wrap {
  @include media_query($tablet-breakpoint) {
    margin-top: $header-height + 30px;
  }
  @include media_query($mobile-breakpoint) {
    margin-top: $header-height + 28px;
  }
  margin-top: $header-height + 40px;

  .page-title {
    @include media_query($tablet-breakpoint) {
      margin-bottom: 30px;
    }
    @include media_query($mobile-breakpoint) {
      animation: none;
      margin-bottom: 25px;
      font-size: ems(35px);
    }
    animation: slideUp 0.8s 0.2s;
    animation-fill-mode: both;
    margin-bottom: 40px;
  }
}
